.type-box {
  width: 20%;
  min-width: 200px;
}

.name-box {
  width: 40%;
  min-width: 200px;
}

.name-box mat-form-field,
.type-box mat-form-field {
  width: 80%;
}

fieldset {
  border: 2px solid black;
}

legend {
  width: auto;
  color: rgb(241, 86, 133);
  margin-left: 1rem;
  padding: 0 10px;
 
}
