<div
  mdbModal
  #basicModal
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Registering...</h4>
      </div>
      <div class="modal-body">
        <p>
          <ngb-progressbar
            type="info"
            [value]="progressValue"
            [striped]="true"
            [animated]="true"
          ></ngb-progressbar>
        </p>
      </div>
      <div class="modal-footer" *ngIf="progressValue >= 100">
        <button
          type="button"
          class="btn btn-primary relative waves-light"
          mdbWavesEffect
          routerLink="/"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
