<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mdb-card
        tabindex="0"
        style="
          background-color: '{{ card.color }}';
        "
        [ngStyle]="{ backgroundColor: card.color }"
      >
        <!-- Content -->
        <div class="text-black text-center d-flex align-items-center py-5 px-4">
          <div>
            <h3 class="card-title pt-2">
              <span
                ><mdb-icon fas [icon]="card.icon"></mdb-icon
                ><strong>{{ " " + card.title }}</strong></span
              >
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
              fugiat, laboriosam, asdasd d
            </p>
            <button
              mdbBtn
              type="button"
              color="elegant"
              mdbWavesEffect
              (click)="cardClick(card.title)"
            >
              {{ card.buttonText }}
            </button>
          </div>
        </div>
        <!-- Content -->
      </mdb-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

